#canvas{
	width:900px;
	background-image: url(https://github.com/zmunetsi/portfolio/blob/gh-pages/images/background.jpg?raw=true);
	margin: 0 auto;
	text-align: center;
}
h1 {
	color: gray;
	text-align: center;
	text-decoration: underline;
}
form {
	
	padding:20px;
}
form input{
	margin: 5px;
}
