
body {
	max-width: 500px;
	margin: auto;
	background-image: url("background.jpg")

}
h1,h2,h3,h4,h5,h6 {
	font-family: Times New Roman;
	font-style: italic;
}

#contact {
	text-align: center;	
}
#profile {
	text-align: center;
}
#portfolio{
	text-align: center;
}
#contact form input {
	
	border-top: none;
	border-left: none;
}
h2,.red {
	color: red;
}
#profile img{
	border-radius: 50%;
	
}

nav ul{
margin: auto;


}
nav li {
	list-style: none;
}

nav ul div{
	display: inline-block;
	
	
}
#menu {
	float: right;
	margin: 0 30px;
}
#dropmenu{
    display: none;
	position : absolute;
	background-color: gray;
	font-size: 0;
	padding: 10px;
}
nav a {
	text-decoration: none;
}#logo{
	font-family: cursive;
	font-size: 16px;
	text-shadow: 40px;

