
body {
  font-size: 20px;
  color: #2d3c49;
  font-family: "Quicksand", sans-serif;
}

img:not(.logo){
  min-width: 100%;
}

a {
  text-decoration: none;
}

a:hover, a:focus, a:active{
  text-decoration: none;
}

.secondary-color {
  color: #7d97ad;
}

/*header*/

header {
  margin-top: 2%;
}

.light {
  font-weight: 300;
}

.bold {
  font-weight: 600;
}

hr {
  background-color: #7d97ad;
  height: 0.2em;
}

main.hero-image {
  margin: 2% 0;
}

.files {
  width: 80%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.resume, .contact {
  font-size: 16px;
  color: #2d3c49;
  background: #02b3e4;
  font-family: "Quicksand", sans-serif;
  padding: 1.5% 1.5%;
  border-radius: 8px;
}

.resume:hover, .contact:hover {
  border: 1px solid  #013FF6;
  font-weight: 600;
  transition: 1s;
}

/*article*/

article.app {
  margin-bottom: 2%;
  text-align: center;
}

.app-heading {
  font-weight: 600;
  color: #2d3c49;
}

p.description {
  color: #000;
  padding: 10%;
  position: absolute;
  display: none;
}

.app:hover img {
  opacity: 0.2;
}

.app:hover p {
  display: block;
}

/*footer */

footer {
  min-height: 80px;
  background-color: #02b3e4;
  text-align: center;
  padding: 2% 0;
}

footer a {
  color: #fff;
  margin: 1em;
  font-size: 22px;
  font-weight: 400;
}

footer a:hover {
  font-weight: 600;
  color: #2d3c49;
  text-decoration: none;
}

/*media queries*/

@media (max-width:990px) {
  #profile-heading {
    text-align: left;
  }
}
